support-for-ie ?= true

body
  background url("../images/development.jpg") top left no-repeat fixed
  padding 50px 0 0 0

.nmap-cont
  min-width 1024px

.panel
  margin 10px
  border 1px solid #303030
  height 300px
  background url("../images/bg_panel.png")
  overflow hidden
  opacity 0.9
  position relative
  &:hover
    background #141414
    opacity 1

.panel h5
  background #3498DB
  color #FFF
  margin 0
  padding 10px 5px
  z-index 999

.cont-info
  position absolute
  top 36px
  bottom -5px
  left 0
  right -10px
  overflow scroll
  color #00FF00
  font-size 12px

.cont-info p
  width 100%
  padding 5px

.host
  padding 2px 0
  margin 0

